<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width, initial-scale=1"/>
        <link rel="stylesheet" href="..\static\scratch.css">
        <title> Login form
        </title>
    </head>
    <body>
        <div class="container">
            <h1>Login Form</h1>
            <form action="/action_page.php" target="_blank">

                <label for="username">Username:</label>
                <input type="text" name="username"placeholder="Enter your username">
                <label for="password">Password:</label>
                <input type="password" name="password"placeholder="Enter your password">
                <div class="check">
                    <input type="checkbox" name="remember">
                    <label for="remember">Remember</label>
                </div>
                <input type="submit" value="login">
            </>
        </div>
        <div class="container">
            <h1>Sign up</h1>
            <h3>its free to sign up and only takes a few mintues </h3>
            <form>
                <label>First Name</label>
                <input type="text"placeholder="first name">
                <label>Last Name</label>
                <input type="text"placeholder="last name">
                <label>Email</label>
                <input type="email"placeholder="email">
                <label>Password</label>
                <input type="password"placeholder="password">
                <label> Confirm Password</label>
                <input type=" confirm password"placeholder="confirm password">
                <input type="submit" value="Sgin up">
            </form>
            <p>By clicking this signup button you agree to our
            <a href="#">terms and conditions</a> and <a href="#">policy]</a>
        <p class="para-2"> If you already have an account  Login </p>
            </p>
        </div>
    </body>
</html>
