 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Master Project </title>
</head>
<body>
<h1> learning HTMl</h1>
<p> With W3schools.com</p>
<a
    href="https://www.w3schools.com">this is a link</a>
<img src="w3schools.jpg"
     alt="w3schools.com" width="104"
     height="142">
<p>This is a learning website </p>
<p> But not just any site a  that makes learning coding easier </p>
<p>Also for those <br>who are having trouble understanding there is a video at the bottom</p>
<img src="img-girl.html">
<img src="img_girl.html" width="500"
     height="600">
<img src="img-typo.html" alt="Girl a jacket ">
<p style="color:purple;">This is a purple paragraph.</p>
<p title="I'm a tooltip">That explain the basics of HTMl</p>
<p title=About w3Schools ></p>
<p title='John "ShotGun" Nelson'></p>
<p title="John 'ShotGun' Nelson"></p>
<h1 style="font-size:60px;"> Learning HTML</h1>
<body> style="background-color:powder blue;"></body>
<h1 style="color:red;"> I'm Living Right </h1>
<p style="color:green;">Thanks to god im living right </p>
<h1 style="font-family:verdana;">thanks to God</h1>
<h1 style="text-align:center;">Thank you God for me living</h1>
<p style="text-align:center;">this a amazing life that i have and will not change it for nothing </p>
<p><b>this world is wonderful in its on way</b></p>
<p><i>Im glade to be a part of it </i></p>
<p> this is <sub> for the subscript</sub>and <sup> superscript</sup></p>


</body>
</html>