<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>post man</title>
    </head>
    <body>
        <div>
            <h1>the cold world</h1>
            <h2>the cold world</h2>
            <h3>the cold world</h3>
            <h4>the cold world</h4>
            <h5>the cold world</h5>
            <h6>the cold world</h6>
        </div>
        <div>
            <p> The truth behid the world is scray do you think . life was a game?</p>
        </div>
        <img src='C:\Users\cash\Documents\pythonProject\images\elephant.jpg'>
        <!-- this is a comment-->
    </body>
</html>